header {
  border: solid;
  width: 100%;
  text-align: center;
  background-color: rgb(157, 157, 157);
}

.companyLogo {
  border: solid;
  border-radius: 1rem;
  border-color: black;
}

@media screen and (max-width: 688px) {
  .companyLogo {
    width: 50%;
    height: auto;
    border: solid;
    border-radius: .1rem;
    border-color: black;
  }
}
